#elem1 {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 1px;
    background: yellow;
}

#elem2 {
    width: 140px;
    height: 140px;
    margin: 30px;
    padding: 1px;
    background: blue;
}

#elem3 {
    width: 80px;
    height: 80px;
    margin: 30px;
    padding: 1px;
    background: red;
}